<h1>Users</h1>

<% if @users.present? %>
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Using 2FA?</th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.mfa_secret.present? %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-warning">
    No users found!
  </div>
<% end %>

<% if current_user&.admin? %>
  <div class="card card-body d-block">
    <%= link_to 'New User', new_user_path, class: 'btn btn-primary' %>
  </div>
<% end %>
